<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/{{ site.baseurl }}">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li {% if page.title == "Blog" %}class="active nav-item"{% else %}class="nav-item" {% endif %}>
            <a class="nav-link"  href="{{ p.url | prepend: site.baseurl }}/blog">Blog</a>
        </li>

        {% assign sorted_pages = site.pages | where: "navigation",true | sort:"name" %}
          {% for p in sorted_pages %}

          <li {% if page.title == p.title %}class="active nav-item"{% else %}class="nav-item" {% endif %}>
              <a class="nav-link" href="{{ p.url | prepend: site.baseurl }}">{{p.title}}</a>
          </li>
          {% endfor %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
