---
layout: site/site-breadcrumb
---
<div class="row">
	<div class="col-sm-8" style="padding-right:20px; border-right: 1px solid #ccc;">
		<article class="post">
		  {% assign post = page %}
		  {% include site/blog/post/article.html %}
		</article>
	</div>
	<div class="col-sm-4">
		<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="toc" data-spy="affix" data-toggle="toc"></nav>
	</div>

</div>

{% if site.disqus_short_name and page.comments == true %}
<section id="disqus">
  <h3 class="indent title">Comments</h3>
  <div aria-live="polite">{% include site/blog/post/disqus_thread.html %}</div>
</section>
{% endif %}
