---
layout: site
---

<div class="row">
	<div class="col-sm-8" style="padding-right:20px; border-right: 1px solid #ccc;">
		<article class="post">
		  {% assign post = page %}
		  {% include blog/post/article.html %}
		</article>
	</div>
	<div class="col-sm-4">
		<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="toc" data-spy="affix" data-toggle="toc"></nav>
	</div>
	
</div>

{% if site.disqus_short_name and page.comments == true %}
<section id="disqus">
  <h3 class="indent title">Comments</h3>
  <div id="disqus_thread" aria-live="polite">{% include blog/post/disqus_thread.html %}</div>
</section>
{% endif %}
    
<script>
  $( document ).ready(function() {
	  $( '<div class="divider"></div>' ).insertAfter( "h1,h2,h3" );
    });
</script>